{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="banner" >
    <img src="{% static 'img/quienessomos.jpg' %}" alt="" class="banner__img">
    <div class="contenedor">
        <h2 class="banner__titulo">QUIÉNES SOMOS</h2>
        <p class="banner__txt">nuestro equipo</p>

    </div>


</div>
<div class="contenedor">
    <section class="info">
            <article class="info__columna">
                
                <h2 class="info__titulo">Quiénes Somos</h2>
                <p class="info__txt">En mcquenn nos hemos exigido por más de 50 años para ser la compañía  más importante de Chile.

                        Nuestro camino comienza en 1959 con la representación de Volvo, a lo cual en 1992 se suma Porsche, la compañía de automóviles deportivos más emblemática del mundo. Hoy además contamos con la representación exclusiva de dos marcas  a nivel mundial: Jaguar y Land Rover.
                        
                        Nuestras marcas nos entregan la potencia y energía para desarrollar servicios cada vez más precisos e integrales, con el fin de que usted simplemente disfrute de su automóvil.
                        
                        mcquenn, cuenta con un gran equipo profesional de ventas y servicio, los que son constantemente entrenados en las fábricas donde se construyen nuestros autos, convirtiéndose así en verdaderos expertos de cada modelo.
                        
                        Venga a mcquenn y disfrute una gran experiencia, donde podrá encontrar las marcas de automóviles más atractivos del mundo.
                        
                        La División de Seminuevos de mcqueen se caracteriza por tener un importante número de unidades en stock, principalmente de nuestras marcas propias, Volvo, Jaguar, Land Rover y Porsche, las cuales son ingresadas a nuestro stock después de pasar por un minucioso proceso de revisión en nuestros talleres de servicio.</p>
            </article>
            <article class="info__columna">
                
                    <h2 class="info__titulo">Nuestra Visión</h2>
                    <p class="info__txt">Vemos un mundo con cero accidentes, cero emisiones, cero congestión y nuestro personal es el impulsor que hay detrás para hacer esto realidad.</p>
                </article>
            <article class="info__columna">
                
                <h2 class="info__titulo">Nuestro Proposito</h2>
                <p class="info__txt">A través de nuestras marcas de automóviles , existimos para entregar experiencias de conducción y servicio únicas y sorprendentes, con la convicción de que enfocándonos en el desarrollo de nuestro equipo, superaremos las expectativas de los clientes más exigentes.</p>
            </article>
            
        </section> 
       
        

</div>

        
        
    
    
{% endblock %}    
